.btnCon{
	left:80px;
	color: white;
	font-size:25px;
	letter-spacing: 2px;
	box-shadow: 0 10px 50px #e1f5fe;
	position: absolute;
	overflow: hidden;
	background: black;
	padding: 5px 10px;
}

.btnCon:before{
	content: '';
	top:2px;
	left:2px;
	bottom:2px;
	width: 50%;
	background:rgba(255,255,255,0.45);
	position:absolute;
}

a span:nth-child(1){
	position:absolute;
	top:0;
	right:0;
	width:100%;
	height:3px;
	background: linear-gradient(to right, #b3e5fc, blue);
	animation: anime1 1s linear infinite;
}

@keyframes anime1{
	0%
	{
		transform: translateX(-100%);
	}
	100%
	{
		transform: translateX(100%);
	}
}

a span:nth-child(2){
	position:absolute;
	top:0;
	right:0;
	width:3px;
	height:100%;
	background: linear-gradient(to bottom, #b3e5fc, blue);
	animation: anime2 1s linear infinite;
}

@keyframes anime2{
	0%
	{
		transform: translateY(-100%);
	}
	100%
	{
		transform: translateY(100%);
	}
}

a span:nth-child(3){
	position:absolute;
	bottom:0;
	right:0;
	width:100%;
	height:3px;
	background: linear-gradient(to left, #b3e5fc, blue);
	animation: anime3 1s linear infinite;
}

@keyframes anime3{
	0%
	{
		transform: translateX(100%);
	}
	100%
	{
		transform: translateX(-100%);
	}
}

a span:nth-child(4){
	position:absolute;
	top:0;
	left:0;
	width:3px;
	height:100%;
	background: linear-gradient(to top, #b3e5fc, blue);
	animation: anime4 1s linear infinite;
}

@keyframes anime4{
	0%
	{
		transform: translateY(100%);
	}
	100%
	{
		transform: translateY(-100%);
	}
}
